<div class="todo-list-container">
    <ul id="todo-list">
        <div class="add-item-container">
            {{#link-to 'blogs.add' classNames="add-item-link"}}
                Create
            {{/link-to}}
        </div>
        {{#each blog in model}}
            {{blog-item blog=blog}}
        {{/each}}
    </ul>
</div>
<div class="todo-item-container">
    {{outlet}}
</div>
