<div class="todo-list-container">
    <ul id="todo-list">
        {{#link-to 'blogs.add' classNames="add-item-link"}} Add Blog {{/link-to}}
        {{#each blog in model}}
            {{blog-item blog=blog}}
        {{/each}}
    </ul>
</div>
<div class="todo-item-container">
    {{outlet}}
</div>
