<section class="menu">
    My fancy index!
    <ul>
        <li>
            {{#link-to 'blogs' }} blogs {{/link-to}}            
        </li>
        <li>
            <!-- {{#link-to}} about {{/link-to}} -->
            <a href="#">about</a>
        </li>
    </ul>
</section>
