<section class="menu">
    My fancy index!
    <ul>
        <li>
            <!-- {{#link-to}} blogs {{/link-to}} -->
            <a href="#">blogs</a>
        </li>
        <li>
            <!-- {{#link-to}} about {{/link-to}} -->
            <a href="#">about</a>
        </li>
    </ul>
</section>
